@tailwind base;
@tailwind components;
@tailwind utilities;


.slider-container {
    overflow-x: hidden;
    position: relative;
  }
  
  .slider-container ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .slider-item {
    flex: 0 0 auto;
    padding: 10px;
    /* Add styles as needed */
  }
  
  .slider-item.active {
    /* Add styles for the active item */
  }
  
  .slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* Add styles for the buttons */
  }
  
  .slider-button.prev {
    left: 10px;
  }
  
  .slider-button.next {
    right: 10px;
  }
  
  